<% provide :title, "About Us" %>
<article class="article">
  <h1 hidden>StartThis: About Us</h1>
  <section>
    <h2>About StartThis.org</h2>
    <p>
      I started learning programming systematically in 2016, and I was wondering
      what to do for my first serious Rails project--something not too hard.
      So I thought: "Why not make that 'free ideas' blog, but soup it up with
      the ability to like, comment on, and even organize participation in these
      ideas?"
      So I says to meself, I says, "Meself, that's a damn good idea.
      A damn good idea!"
    </p>
    <p>
      So what you see here is a simple website in which you can judge, comment
      on, and sign up to help with these ideas.
      You can also submit a new idea!
      But, sorry in advance, but I'll only post ideas I think are awesome, and
      I can be kind of harsh when it comes to judging ideas, so don't be hurt
      please.
      The bar is high.
    </p>
    <p>
      The site is pretty simple. Explore different ideas.
      Upvote as many as you like. The ones people like the most rise to the top.
    </p>
    <p>
      So what are the corkers? What are the duds?
    </p>
    <p>
      Then the really fun part happens.
    </p>
    <p>
      What I'm trying to do is to give everyone a place where they can judge
      these ideas and, if they're excited enough about them, actually help
      bring them into existence.
    </p>
    <p>
      You can also get involved.
      If you're a potential user, we have a button for you to press.
      There are also buttons to press if you want to work on a project; if you've
      actually started a project and want help; if you're a distinguished expert
      who wants to advise (I'll be the judge of that; you really will have to be
      distinguished in your field); and more.
      You'll get a different fun inspirational message whenever you press one
      of these buttons. Try it!
    </p>
    <p>
      This platform is for non-profit, open source projects.
      I don't have time to lead these projects, but if I think you're doing
      good, credible work, I'll give you as much help as my limited (currently,
      very limited) time permits.
      I'm not rich and can't offer monetary support, but I have some connections
      and can advise you.
      I won't insist on owning the intellectual property if you're doing all
      the work and I'm just advising you.
      In other words, if you're just executing my idea, I'll ask for bragging
      rights, but dude, it's your project!
    </p>
    <p>
     I'm excited about this project project!
     Let's make some awesome stuff and change the world!
    </p>
    <p>
      Larry Sanger
    </p>
  </section>
  <div class="login_button center">
    <%= link_to "Join!", new_user_path, class: "btn btn-lg btn-primary" %>
  </div>
</article>
