<% provide :title, "Help and FAQ" %>
<article class="article">
  <h1 hidden>StartThis: Help and FAQ</h1>
  <section class="help">
    <h2>Help</h2>
    <p>When the website is ready, you'll find links to help pages here.</p>
  </section>
  <section class="faq">
    <h2>FAQ</h2>
    <p><span class="question">When will this website be ready?</span></p>
    <p><span class="answer">We might have a decent first draft by early 
    2018.</span></p>

    <p><span class="question">Why aren't there any ideas on the site yet?</span></p>
    <p><span class="answer">Because Larry hasn't finished going through Hartl'<s>
    Rails tutorial yet. Soon!</s>.</span></p>

  </section>
  <div class="login_button center">
    <%= link_to "Join!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</article>
