<% provide :title, "Help and FAQ" %>
<article class="article">
  <h1 hidden>GreaterWiki: Help and FAQ</h1>
  <section class="help">
    <h2>Help</h2>
    <p>When the website is ready, you'll find links to help pages here.</p>
  </section>
  <section class="faq">
    <h2>FAQ</h2>
    <p><span class="question">When will this website be ready?</span></p>
    <p><span class="answer">We might have a decent first draft by the end of 
    2017.</span></p>

    <p><span class="question">Why doesn't the "Join!" button work?</span></p>
    <p><span class="answer">Because Larry hasn't gotten to Ch. 6 in the tutorial
    yet.</span></p>

  </section>
  <div class="login_button center">
    <%= link_to "Join!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</article>