<% provide :title, "Finding the Best Encyclopedia Articles Online" %>
<article class="article">
  <div class="home_page_article_header">
    <h1>StartThis.org</h1>
    <p>
      Come on&#151;do it!
    </p><p>
      Like you, I've had many more exciting ideas than I can possibly execute
      myself.
      I've decided to share mine with the world.
      If they excite you, please use them with my compliments.
      You can contribute your own, too.<br>
      <div class="text-right">&#151;<%= link_to "Larry Sanger",
                                  User.find_by(email:
                                  "yo.larrysanger@gmail.com") %></div>
    </p>
  </div>
  <section class="introductory_text">
    <h2>You in?</h2>

    <p>Ideas are cheap. Execution is everything.</p>
    <p>
      I've had lots of interesting ideas over the years, many of which
      I've gotten quite excited and passionate about, and a few of which I've
      actually executed.
      They've really started to pile up, and I know I'll never be able to start
      them all myself.
      Moreover, these are all ideas for nonprofit, open source projects.
    </p>
    <p>
      One of my ideas is to start a blog in which I just give away all these
      free ideas.
      So that's what I'm doing now. <%= link_to "Read more...", about_path %>
    </p>
  </section>
  <div class="login_button center">
    <%= link_to "Join!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</article>
